<header>
  <a href="/">
    <img id="logo" src="/assets/img/logo.png" alt="logo">
  </a>
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label>
      <input type="text" id="search_input" placeholder="What are you want to find out?" formControlName="search">
    </label>
    <input type="submit" class="search" value="search" >
  </form>
  <button class="settings">
    <fa-icon [icon]="faSlidersH"></fa-icon>
  </button>
  <div class="user">
    <div class="user-name">Your name</div>
    <fa-icon [icon]="faUserCircle"></fa-icon>
  </div>
</header>
