#logo #search_input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#logo {
  margin-right: 15px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f1f1f1;
}

header > div {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

#search_input {
  border: hidden;
  min-width: 400px;
}

.settings {
  margin-left: 5%;
  width: 25px;
  height: 25px;
}

.settings:hover {
  border: hidden;
}

.user > * {
  margin: 5px;
}

a > *, a {
  text-decoration: none;
}

#center {
  display: flex;
  flex-direction: row;
  margin-left: 34%;
}

.user {
  display: flex;
  flex-direction: row;
}

.logout, .settings {
  border: hidden;
  background-color: #28a9ff;
  border-radius: 5px;
}

.logout {
  min-width: 100px;
  min-height: 25px;
  text-align: center;
}

.logout > a {
  color: white;
}

#end {
  justify-content: flex-end;
  margin-left: 15%;
  margin-right: 5%;
}
