.item {
  text-align: center;
  border-radius: 5px;
  padding: 0;
  margin: 20px auto auto;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  min-width: 50%;
  max-width: 80%;
}

.item > img {
  max-width: 45%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card-content {
  text-align: left;
}

.info_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.info_header > div {
  color: grey;
}

.info {
  margin: 20px 20px 0;
}

h2 {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

mat-card-content {
  color: grey;
}

.public_date {
  margin: 29px -20px -20px;
}
